@charset "utf-8";

// Import bulma's initial variables
@import "bulma-0.8.0/sass/utilities/initial-variables.sass";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');


// Update Bulma's global variables
$family-sans-serif: "Lato", "Open Sans", sans-serif;
$fullhd-enabled: false;
$warning: #e84545;
$primary: #2b2e4a;
$primary-lighter: #40476b;
$info: #5c6595;
$background: #f6f9fc;
$light: #e8e8e8;

html {
  color: white !important;
  background: $background !important;
  height: 100%;
  margin: 0;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

// Import the rest of bulma
@import "bulma-0.8.0/bulma.sass";

// Import extensions
@import "bulma-divider/dist/css/bulma-divider.sass";

// New Classes
.searchbar {
  @extend .input;
  box-shadow: none;
  @extend .box;
  background: $white-ter !important;
}

.button {
  @extend .button;
  @extend .getBigger;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
  border: none !important;
}

.getBigger {
  transition: all .2s ease-in-out;
}

.getBigger:hover {
  transform: scale(1.02);
}

a.box:hover {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px $warning !important;
}


#load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: $background;
}

#spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid $warning;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.searchbar.input, .searchbar.input:hover, .searchbar.input:active, .searchbarinput:focus-within, .searchbar.input:focus {
  @extend .input;
  //box-shadow: none !important;
  border-color: transparent;
  background: $light !important;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.15);

}

p:not([class]) {
  margin-bottom: 0.6em;
}

#triangleCover {
  fill: $background;
}

#colorBlock {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 2em;
  background: $warning;
}

.breakout {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: 5;
  box-shadow: inset 0 -6px 0 0 rgba(0, 0, 0, 0.15), 0px 10px 53px -7px rgba(120, 120, 120, 1);
}

.newsletter-stripe {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.headsvg {
  margin-top: -0.5em;
  z-index: -1;
  position: absolute;
  width: 1440px;
  object-fit: cover;
  transform: scaleY(2);
}

body {
  position: relative;
}

.footer-top {
  background: $primary-lighter;
  border-radius: 45% 45% 0 0 / 50px;
  width: 100%;
  height: 4em;
}

.footer {
  background: $primary-lighter;
  height: 10em;
  color: $white-ter;
}

// QuillJS Styles
.ql-container {
  font-size: 1em !important;
  font-family: $family-sans-serif !important;
  height: 200px;
}

.ql-editor.ql-blank::before {
  font-style: normal !important;
  color: #c2c2c2 !important;
}

.ql-toolbar {
  border-radius: $radius $radius 0 0;
}

.ql-container {
  border-radius: 0 0 $radius $radius;
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
}