@charset "utf-8";

// Import a Google Font
@import "bulma-0.8.0/sass/utilities/initial-variables.sass";

// Update Bulma's global variables
$fullhd-enabled: false;

$radius: 0px;
$box-radius: $radius;

// Import the rest of bulma
@import "bulma-0.8.0/bulma.sass";

// Import extensions
@import "bulma-divider/dist/css/bulma-divider.sass";

// Category overrides
html, body {
  //background-color: #fafafa;
  height: 100%;
  margin: 0;
}


// New Classes
.searchbar {
  @extend .input;
  box-shadow: none;
}

.button {
  @extend .button;
  @extend .getBigger;
  font-weight: bold;
  text-transform: uppercase;
}

.getBigger {
  transition: all .2s ease-in-out;
}

.getBigger:hover {
  transform: scale(1.02);
}

a.box:hover {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px $warning !important;
}


#load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: white;
}

#spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid $warning;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}