{% extends 'base_header.html' %}

{% block head %}
{% endblock %}

{% block content %}
    <section class="hero is-warning is-medium">
        <div class="hero-head">
            <nav class="navbar is-white is-fixed-top-touch" role="navigation" aria-label="main navigation"
                 style="margin-bottom: 1.5em;">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{% url 'main:index' %}"><h4 class="title is-4 has-background-warning">
                        COVINTERN</h4></a>
                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                       data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="{% url 'jobs:list' %}">Jobs</a>
                        <a class="navbar-item" href="{% url 'main:about' %}">About</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body has-text-centered">
            <div class="container">
                <h1 class="title has-text-white">Looking for a remote internship?</h1>
                <p class="subtitle has-text-white">Even in these unusual times, companies are looking to hire students like you!</p>
            </div>
        </div>
    </section>
{% endblock %}