<div id="colorBlock"></div>
<nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation" style="margin-top: 0.5em;">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'main:index' %}">
            <h4 class="title is-4 has-text-white">COVINTERN</h4>
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'jobs:list' %}">Jobs</a>
            <a class="navbar-item" href="{% url 'main:about' %}">About</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="{% url 'jobs:create' %}">
                        <button class="button is-warning">
                            <strong>
                                POST AN INTERNSHIP
                            </strong>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
