{% extends 'base.html' %}

{% block content %}
    {% include 'jobs/components/back_button.html' %}
    <h1 class="title">{{ job_list.0.category.name }} Internships</h1>

    <div class="columns">
        <div class="column is-three-quarters-desktop is-full-touch">
            {% for job in job_list %}
                {% include 'jobs/components/individual_listing.html' with job=job %}
            {% endfor %}
        </div>
        <div class="column is-one-quarter-desktop is-hidden-touch">
            <div class="title is-5">Other Categories</div>
            {% for category in categories %}
                <a class="button is-light is-fullwidth" style="margin-bottom: 0.6em;">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}