{% extends 'base_sideimage.html' %}

{% block title %}Post an Internship{% endblock %}

{% block content %}
    <div class="icon is-large has-text-grey-light" style="margin-bottom: 1em;">
        <i class="fas fa-3x fa-hammer"></i>
    </div>
    <h1 class="title is-spaced">Want to list a remote internship?</h1>
    <p class="subtitle is-5">
        We're not quite ready for direct listing, but please send us an email and we'll get your job listed within 24
        hours. Already listed somewhere else? Send us a link to the listing and we'll take it from there.
    </p>
    <a href="mailto:wade@covintern.com" class="button is-warning is-large">Email Us</a>
{% endblock %}

{% block image %}
    https://images.unsplash.com/photo-1578574577315-3fbeb0cecdc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80
{% endblock %}