{% extends 'base.html' %}

{% block content %}
    <h1 class="title">Find an Internship</h1>
    <p class="subtitle">Get connected with remote internships at top startups and companies.</p>

    <p class="content"></p>

    {% regroup job_list by category as categories_list %}

    <div class="buttons is-centered">
        {% for category in categories_list %}
            <a href="{% url 'jobs:category' category.grouper.id %}">
                <button class="button is-light">
                    {{ category.grouper.name }}
                </button>
            </a>
        {% endfor %}
    </div>

    {% include 'jobs/components/searchbar.html' %}

    {% for category in categories_list %}
        <h1 class="title is-4 has-text-{{ category.grouper.color }}">{{ category.grouper.name }}</h1>
        {% for job in category.list|slice:":5" %}
            {% include 'jobs/components/individual_listing.html' with job=job %}
        {% endfor %}
        {% if category.list|length > 5 %}
            <div class="has-text-right" style="margin: -0.6em 1em 1em 0;">
                <a class="button is-warning" href="{% url 'jobs:category' category.grouper.id %}">
                    <span>View {{ category.list|length|add:"-5" }} more internships in {{ category.grouper.name }}</span>
                    <span class="icon is-small">
                        <i class="fas fa-chevron-right"></i>
                    </span>
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}