{% extends 'base_svg_bg.html' %}

{% block title %}All Internships{% endblock %}

{% block content %}
    <h1 class="title has-text-white-ter is-1">Find an Internship</h1>
    <p class="subtitle has-text-white-ter is-4">Get connected with remote internships at top startups and companies.</p>

    {% regroup job_list by category as categories_list %}

    <div class="columns">
        <div class="column is-three-quarters-desktop is-full-touch">
            {% include 'jobs/components/searchbar.html' with query=None %}

            {% for category in categories_list %}
                <h1 class="title is-4 has-text-{{ category.grouper.color }}"><span
                        class="{% if forloop.counter == 1 %}has-text-white-ter{% endif %}">{{ category.grouper.name }}</span>
                </h1>
                {% for job in category.list|slice:":5" %}
                    {% include 'jobs/components/individual_listing.html' with job=job %}
                {% endfor %}
                {% if category.list|length > 5 %}
                    <div class="has-text-right" style="margin: -0.6em 1em 1em 0;">
                        <a class="button is-warning is-small" href="{% url 'jobs:category' category.grouper.id %}">
                            <span>View {{ category.list|length|add:"-5" }} more internships
                                in {{ category.grouper.name }}</span>
                            <span class="icon is-small">
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </a>
                    </div>
                {% endif %}

                {% if forloop.counter == 2 %}
                    <div class="box has-background-warning">
                        <h1 class="title has-text-white-ter">
                            Join our mailing list!
                        </h1>
                        <p class="subtitle has-text-white-ter is-size-6-mobile">We'll email you with recommendations for remote
                            internships you might be interested in.</p>
                        <form action="https://covintern.us19.list-manage.com/subscribe/post?u=4c2630d88bdfb7cd6ba12970f&amp;id=9ab57e18c7"
                              id="subscribe"
                              method='POST'
                              autocomplete="off"
                              target="_blank">
                            <div class="field is-grouped">
                                <div class="control is-expanded has-icons-left">
                                    <input class="input" name="EMAIL" placeholder="your@email.here"
                                           type="email" value="">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </div>
                                <div class="control">
                                    <input type="submit" class="button is-primary" value="Subscribe">
                                </div>
                            </div>
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_4c2630d88bdfb7cd6ba12970f_9ab57e18c7" tabindex="-1" value="">
                            </div>
                        </form>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="column is-one-quarter-desktop is-hidden-mobile"
             style="height: 100%; margin-top: 18em; position: sticky; position: -webkit-sticky; top: 6em;">
            <div class="title is-5">Categories</div>
            <div class="buttons">
                {% for category in categories_list %}
                    <a href="{% url 'jobs:category' pk=category.grouper.id %}"
                       class="button is-light"
                       style="margin-bottom: 0.6em;">
                        {{ category.grouper.name }}
                    </a>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}