<div class="box">
    <div class="title is-6" style="margin-bottom: 0.8em;">Things to Remember</div>
    <div class="text content is-size-7">
        Always be on the alert for potentially fraudulent job postings online. Report potential fraud to us if you're
        unsure about the legitimacy of a job posting or employer on Covintern.
        <ul>
            <li>
                Never accept a check or other funds from a company to purchase materials necessary for your position.
            </li>
            <li>
                Avoid and report situations where employers require payment or work without compensation as part of the
                application process.
            </li>
            <li>
                Avoid corresponding with anyone who reaches out via text or email or outside of the Covintern platform
                that you don't recognize.
            </li>
            <li>
                Be wary of Google Hangout or Skype interviews as these are not publicly-listed numbers that can be used
                to verify the legitimacy of the interviewer.
            </li>
        </ul>
    </div>
</div>